@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@700&family=Inter:wght@100&display=swap');
@import url("https://use.typekit.net/iyl6ftd.css");

@font-face {
    font-family: Futura;
    src: url("../src/fonts/FuturaPTBook.otf") format("opentype");
}

@font-face {
    font-family: "FuturaB";
    src: url("../src/fonts/FuturaPTBold.otf") format("opentype");
}



:root {
    /* Code couleur BRONZE */
    --bronze-color: #231403;
    --bronze-color-hover: #301B04;
    --bronze-color-focus: #3A2206;

    /* Code couleur ORANGE */
    --orange-color: #F29A7E;
    --orange-color-hover: #FFA285;
    --orange-color-focus: #E39076;

    /* Code couleur BLANC */
    --white-color: #FFFFFF;
    --white-color-hover: #F7F7F7;
    --white-color-focus: #EDEDED;

    /* Code couleur RED */
    --red-color: #E15C5C;

     /* Code couleur VERT */
     --green-color: #5FE15C;

      /* Code couleur BLEU */
      --blue-color: #5CA1E1;
}

.header{
    background-color: var(--bronze-color);
}


.btn_france{
    padding: 5px 15px;
    border-radius: 99px;
}

.btn_france span{
    color: #000000;
    font-family: 'Futura';
}

.header_link {
    color: white;
    font-family: 'FuturaB';
    font-size: 16px;
line-height: 21px;
}

nav{
    align-items: center !important;
}

.btn_billeterie{
    background-color: var(--orange-color);
    padding: 12px;
    border-radius: 99px;
    font-family: 'FuturaB';
    margin-right: 20px;
}

.btn_billeterie > svg{
    margin-right: 10px;
}

#hero{
    background-color: var(--bronze-color);
    height: calc(100vh - 88px);
    display: flex;
    align-items: center;
    position: relative;
}

p.h3_musee {
    font-family: 'Arvo';
    font-style: normal;
    font-weight: 700;
    font-size: 31.25px;
    line-height: 39px;
    color: black;
}

p.titre_musee {
    font-family: 'Arvo';
    font-style: normal;
    font-weight: 700;
    font-size: 48.83px;
    line-height: 60px;
    color: #FFFFFF;
}

p.text_musee {
    font-family: 'Futura';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: black;
}

.elipse{
    position: absolute;
    left: 0;
    bottom: 0;
}

.social_network{
    position: absolute;
    bottom: 20px;
    display: flex;
    left: 50%;
    background: rgba(255, 255, 255, 0.2);
    padding: 20px;
    border-radius: 99px;
}

.social_network svg{
margin: 0 5px;
}

.text_hero {
    padding: 0 50px;
}

#bandeau_musee{
    padding: 50px 100px;
    border-top: 1px solid grey;
}

#bandeau_musee p:first-child{
    font-family: 'FuturaB';
    margin-bottom: 10px;
}

#bandeau_musee p:last-child{
    font-family: 'Futura';
font-style: normal;
font-weight: 400;
font-size: 31.25px;
line-height: 40px;

}

#section_musee{
    display: flex;
}

#section_musee div,
#section_musee img{
    width: 50%;
}

#section_musee div{
    padding: 80px 40px;
}

#section_musee div p:first-child{
    padding-bottom: 20px;
}

.btn_orange{
    background-color: var(--orange-color);
    display: flex;
    width: fit-content;
    margin-top: 30px;
    padding: 10px 15px;
    border-radius: 99px;
    color: white;
    font-family: 'FuturaB';
    align-items: center;
    transition: 0.3s all;
}

.black_btn{
    background-color: var(--bronze-color);
    display: flex;
    width: fit-content;
    margin-top: 30px;
    padding: 10px 15px;
    border-radius: 99px;
    color: white;
    font-family: 'FuturaB';
    align-items: center;
    margin: 0 auto;
    transition: 0.3s all;
}

.black_btn:hover{
    background-color: var(--bronze-color-hover);
}

#book_musee .date_musee{
    text-align: center;
    margin-bottom: 15px;
}

#book_musee{
    padding: 50px;
    background: url("./img/bg.png");
    background-size: cover;
}

.fill_btn_orange{
    border: 1px solid var(--orange-color);
    display: flex;
    width: fit-content;
    margin-top: 30px;
    padding: 10px 15px;
    border-radius: 99px;
    color: var(--orange-color);
    font-family: 'FuturaB';
    align-items: center;
}
.btn_orange:hover{
    background-color: var(--orange-color-hover);
}

.btn_orange > svg{
    margin-left: 10px;
}


.bx-wrapper{
    box-shadow: none;
    border: none;
    background: transparent;
}

#event_musee{
    align-items: center;
    display: flex;
    width: 100%;
}

#event_musee img{
    width: 100%;
}

#event_musee div:nth-child(1){
    width: 60%;
}
#event_musee div:nth-child(2){
    width: 20%;
}
#event_musee div:nth-child(3){
    width: 20%;
}

.color_event{
    background-color: var(--orange-color);
    height: 100%;
}

.date_musee{
    font-family: 'FuturaB';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 21px;
}

#event_musee .date_musee{
    display: flex;
    margin-bottom: 15px;
}

#event_musee .date_musee svg{
    margin-right: 5px;
}

.info_event{
    padding: 0 40px;
}

#band_musee{
    display: flex;
    align-items: center;
}

#band_musee img{
    width: 80%;
}

#band_musee div{
    width: 20%;
    padding: 20px;
}

footer {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    background-color: var(--bronze-color);
    position: relative;
  }

.flex-footer{
    justify-content: space-around;
    display: flex;
}
.padd-footer{   
    padding: 99px 80px 37px 80px;
}
.rectangle{
    position: absolute;
    left: 0;
    top: 0;
}
.btn{
    padding-top: 69px;
}
.outline{
    border-radius: 99px;
    color:var(--orange-color);
    padding: 12px 36px;
    border: 1px solid var(--orange-color);
    font-family: 'Futura';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    margin-left: 25px;
    line-height: 23px;
    background-color: transparent;
}
.filled{
    background: var(--orange-color);
    border-radius: 99px;
    color:white;
    border: 1px solid var(--orange-color);
    padding: 12px 36px;
    font-family: 'Futura';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 23px;
}
.circle{
    position: absolute;
    right: 0;
    bottom: 0;
}
.subtitle{
    font-family: 'Futura';
    color: white;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
}
.title{
    font-family: 'Arvo';
    color: white;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
}
.flex-social{
    display: flex;
    justify-content: space-between;
}
.btm-footer{
    margin: auto;
    padding-top: 55px;
    padding-bottom: 47px;
}
.info{
    align-items: center;
    display: flex;
    justify-content: space-around;
}

#blog_musee{
    padding: 50px;
}

#blog_musee .h3_musee{
    padding-bottom: 30px;
}

.book_price{
    display: flex;
}

#book_slider{
    width: 315px;
}

.content_book{
    background-color: var(--white-color);
    padding: 20px;
    position:relative;
}

#book_musee .h3_musee{
    padding-bottom: 30px;
}

.book_title{
    font-family: 'FuturaB';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 26px;
margin-bottom: 10px;
}

.date_book{
    display: flex;
    font-family: 'Futura';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 21px;
margin-bottom: 20px;
}

.date_book > svg{
    margin-right: 5px;
}

#book_slider > div .btn_orange > svg{
    margin-right: 5px !important;
    margin-left: 0 !important;
}

.book_price{
    font-family: 'FuturaB';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 26px;
}

.btn_book{
    position: absolute;
    bottom: 10px;
    right: 10px;
}

#map_musee{
    padding: 50px;
}

#map_musee .h3_musee{
    padding-bottom: 30px;
}

.map{
    display: flex;
    align-items: center;
}

.text_map{
    padding: 20px 40px;
}